*
{
    margin: 0;
    padding: 0;
}
.header-border
{
   border: 2px solid rgb(170, 211, 184);
}
main
{
    height: 80vh;
}
.loginas
{
    position:relative;
    bottom: 5vh;
}
.left
{
    position:relative;
    right: 2vh;
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.right
{   position:relative;
    left: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4px;
    padding-bottom: 4px;
}